*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    width:100vw;
}

body{
    background-color: #21335E;
}
nav{
    background-color: #3E497A;
}
.nav-link {
    color:whitesmoke !important;
}


#contents{
    min-height: min-content;
    width: 100vw;
    height: 100vh;

}

.text{
    position: relative;
    font-family: Gloock;
}
.text h1{
    position: relative;

    font-family: poppins;
    font-size: 6rem;

    top:15vh;
    left:4vw;

    color: #f0f0f0;
}
.text h2{
    position: relative;

    font-family: poppins;
    font-size: 2rem;

    color: #f1d00a;

    top:16vh;
    left:4vw;
}

.image img{
    position: relative;
    width:20vw ;
    height:65vh;

    

    left:70vw;
    bottom:10vh;

    transform: rotate(5deg);

    border-radius: 2.5%;
}

#games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    font-family: gloock;

    position: relative;
    top:2vh;

    color: #f0f0f0;

}

#games h1{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1%;
    font-size: 4.5rem;
}

.card{
    background-color:#3E497A;
    margin-bottom:8%;
}

.row{
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3E497A;
    height: 3vw;
    width: 100vw;
    min-height: fit-content;
}

@media only screen and (max-width: 768px){

    .text h1{
        position: relative;
    
        font-family: poppins;
        font-size: 4rem;
    
        top:15vh;
        left:4vw;
    
        color: #f0f0f0;
    }
    .text h2{
        position: relative;
    
        font-family: poppins;
        font-size: 1rem;
    
        color: #f1d00a;
    
        top:16vh;
        left:4vw;
    }
    
    #games h1{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin-top: 2%;
        font-size: 4.5rem;
    }
    .card{
        margin-right: 2%;
        
    }
    
}

@media only screen and (max-width: 450px){
    .image img{
        visibility: hidden;
    }
}