*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
    background-color: #21335e;
    color: #f0f0f0;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;

}

.babu{
    padding-top: 3vh;
    float: left;

    width: 30%;

    border-radius: 100%;

    margin-right: 2vw;

    margin-left: 1vw;

}

.babu:hover{
    opacity: .8;
}

.harsh{
    padding-top: 3vh;
    float: right;
    width: 30%;
    border-radius: 100%;

    margin-left: 2vw;
    margin-right: 1vw;
}

.hp h3{
    padding-left: 1vw;
}

.harsh:hover{
    opacity: .8;
}

.cyril,.hp{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    margin-bottom: 2vh;
}

a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }

